<div class="container">
  <h1 class="fl-head">Find a Developer</h1>
  <div class="row">
  <% users.forEach((user) => { %>
    <% console.log(user) %>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card">
      <div class="profile-img">
        <img class="card-img-top" src="<%= user.image %>" alt="<%= user.name %>">
      </div>
        <div class="card-body">
          <h3 class="card-title index-name"><%= user.username %></h3>
          <h4 class="index-name">Skills: </h4><% user.skills.forEach((skill) => { %>
            <h4><%= skill.name %></h4>
          <% }) %>
          <a href="/users/<%= user.id %>" class="btn btn-primary noredbutton view">View</a>
        </div>
      </div>
    </div>
  <% }) %>
  </div>
</div>
