
<div class="container">
  <div class="row main-body">
    <div class="prof-edit col-lg-12"><h2 class="prof-name">My Profile</h2></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4 profile-text">
  <img src="<%= currentUser.image %>" class="myprofilepic" alt="<%= currentUser.name %>">

  <div class="prof-edit"><a href="/users/<%= currentUser.id %>/edit" class="button">Edit</a></div>
  <form method="POST" action="/users/<%= currentUser.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <div class="delete-but">Delete</div>
  </form>
</div>
<div class="col-lg-4 profile-text">
  <section class="reviews-skills">
    <h3 class="delete-but">Reviews</i></h3>
    <% currentUser.reviews.forEach((review) => { %>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
      <img class="comment-img" src="<%= review.createdBy.image %>">
      <small><%= review.createdBy.username %></small>
    <% }) %>
  </section>
  <section class="skills-myprof">
    <h3 class="skills-tab">Skills</h3>
    <% user.skills.forEach(skill => { %>
      <div class="skill-list">
    <i class="<%= skill.icon %>"></i>
      <h4 class="card-title"><%= skill.name %></h4>
  </div>
    <% }) %>
  </section>

</div>
<div class="col-lg-2"></div>
</div>
</div>
