<h1>Freelancers</h1>
<% users.forEach((user) => { %>
  <div class="large-4 columns">
    <a href="/users/<%= user.id %>">
      <img class="thumbnail" src="<%= user.image %>" alt="<%= user.name %>">
      <h2><%= user.name %></h2>
      <p>
        <%= user.skills.skill1 %><br>
        <% if(user.skills.skill2) { %><%= user.skills.skill2 %><br><% } %>
      </p
      <p>
        <% while(user.rating--) { %> &rating; <% } %>
      </p>

      <small>Added by: <%= user.createdBy.username %></small>
    </a>
  </div>
<% }) %>
